## Warden configuration

# Database configuration
# 
# Warden supports the following database backends:
# - sqlite (default)
# - postgres
# - mariadb

# WARDEN_DATABASE_BACKEND="sqlite" # Default

# For SQLite, the database name is the filename of the database.
# WARDEN_DATABASE_NAME="warden.db" # Default for SQLite

# For PostgreSQL and MariaDB, the database name is the name of the database.
# WARDEN_DATABASE_NAME="warden" # Default for both PostgreSQL and MariaDB

# The database user and password are the credentials to connect to the database.
# WARDEN_DATABASE_USER="wardenuser" # Mandatory for PostgreSQL and MariaDB
# WARDEN_DATABASE_PASSWORD="secret" # Mandatory for PostgreSQL and MariaDB

# The database host and port are the address and port to connect to the database.
# WARDEN_DATABASE_HOST="localhost" # Default for both PostgreSQL and MariaDB
# WARDEN_DATABASE_PORT="5432" # Default for PostgreSQL
# WARDEN_DATABASE_PORT="3306" # Default for MariaDB
