*.egg-info
.eggs
.pytest_cache
__pycache__/
*.pyc
.coverage
*.DS_Store
.mypy_cache
.vscode/


.python-version
!.secrets.env
!.just.env

*.db

.env
.env.*
!.env.sample

config.yaml
config.*.yaml

venv
dist
